<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>定型文 検索</title>
  <!-- <link rel="stylesheet" href="style.css"> -->

  <!-- 公開リンク  https://gennsenntmt.github.io/phrase_search -->
</head>

<body>

    <div id="app">
        <!-- keywordをv-modelで定義することで、inputの内容(=keyword)が変更されるたびにfilterUsers()が実行されます -->
        <input v-model="keyword" placeholder="Search..." style="width:200px;height:30px;">
        <ul>
          <!-- keywordが更新されるたびにリストを書き換えたいので、算出プロパティ(computed)を使います。 -->
          <li v-for="user in filteredUsers">
            {{ user.username }}
          </li>
        </ul>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

      <script>
    //   import axios from 'axios'

      const app = new Vue({
          el: '#app',
          data: {
              users: null,
              keyword: '',
          },
          mounted: function() {
              this.getUsers();
          },
          computed: {
              filteredUsers: function () {
                  return this.filterUsers();
              }
          },
          methods: {
              // API取得
              getUsers: function () {
                  axios.get('assets/json/users.json')
                //   axios.get('https://jsonplaceholder.typicode.com/users')
                  .then(res => {
                    this.users = res.data
                  })
                  .catch(err => {
                  console.log(err.statusText)
                  });
              },
              // keywordに一致するuserを配列に格納し、それを返します
              filterUsers: function () {
                  let filtered = [];
                  for (let i in this.users) {
                      let user = this.users[i];
                      if (user.username.indexOf(this.keyword) !== -1) {
                          filtered.push(user);
                      }
                   }
                  return filtered;
              }
          }
      });
      </script>
</body>
</html>